<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AxMSTSCLib" version="1.0.1" targetFramework="net461" />
  <package id="FreeRDP" version="2.0.0.13" targetFramework="net461" />
  <package id="FreeRDP-Sharp" version="0.1.0" targetFramework="net461" />
  <package id="FreeRDP-Sharp.Native" version="1.1.1" targetFramework="net461" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net461" />
</packages>